# Node.js dependencies
frontend/node_modules
frontend/dist

# Maven build artifacts
backend/target

# IDE and editor files
.idea
.vscode

# System files
.DS_Store
*.log

# Git and version control
.git
.gitignore
